
.Create {
	margin: 10px;
}

.Dish {
	display: inline-block;
	margin: 10px;
	width: 286px;
}

.Dish .btn {
	cursor: pointer;
	margin-right: 10px;
}

.Dish .Price {
	padding-left: 10px;
	font-weight: lighter;
}
